.sport-demo_phone .basic-container {
  width: 900px;
  margin: 0 auto;
}
.sport-demo_phone .qybox-menu-item {
  font-size: 20px;
  height: 61px;
  float: left;
  margin: 0 20px;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
}
.sport-demo_phone .qybox-submenu-item {
  float: left;
  line-height: 20px;
  padding: 0 17px 0 20px;
  position: relative;
  font-size: 12px;
  border-left: 1px solid #fff;
  margin-right: 50px;
}
.sport-demo_phone .swiper {
  width: 900px;
  height: 400px;
  margin: 20px 0 0;
}
.sport-demo_phone .tab-item {
  border: 1px dashed #fff;
  position: relative;
  width: 253px;
  height: 388px;
}
.sport-demo_phone .popular-small_image {
  width: 250px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 430px;
}
.sport-demo_phone .product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0 30px;
}
.sport-demo_phone .product-item {
  width: 207px;
  margin: 0px 24px 50px 0px;
  cursor: pointer;
  background-color: #ffffff;
}
.sport-demo_phone .product-item img {
  width: 207px;
  height: 165px;
}
.sport-demo_phone .product-item:nth-child(4n) {
  margin-right: 0;
}
.sport-demo_phone .product-info {
  color: #666666;
  font-size: 14px;
  height: 20px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sport-demo_phone .buttom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
  width: 890px;
}
.sport-demo_phone .buttom-wrapper_home {
  width: 890px;
  margin: 0 auto;
  padding: 30px 0;
}
.sport-demo_phone .buttom-wrapper img {
  width: 117px;
  height: 117px;
  margin-bottom: 15px;
}
.sport-demo_phone .fixed_img img {
  width: 230px;
  height: 230px;
}
.sport-demo_phone .article-image {
  width: 376px;
  height: 240px;
}
.sport-demo_phone .popular-image {
  height: 328px;
}
.sport-demo_phone .product-detail_img {
  width: 415px;
  height: 332px;
  margin-right: 30px;
}
.sport-demo_phone .product-detail_img_container {
  width: 415px;
  height: 332px;
}
.sport-demo_phone .product-detail_title {
  color: #0E121D;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
  height: 33px;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}
.sport-demo_phone .product-wrapper {
  width: 900px;
  margin: 0 auto;
  background-color: #f4f4f4;
}

.sport-demo_phone .popular-big_image {
  width: 419px;
  height: 328px;
}
.sport-demo_phone .popular-small_image {
  width: 189px;
  height: 151px;
  left: 325px;
}
.sport-demo_phone .popular-info {
  margin-left: 145px;
}
.sport-demo_phone .fixed_img img {
  width: 110px;
  height: 110px;
}

