html, body {
  padding: 0;
  margin: 0;
  font-family: 'Microsoft YaHei';
  color: #0E121D;
  background-color: #fff;
  font-size: 12px;
}
html, body, ul, li {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.flex1 {
  flex: 1;
}
.basic-container {
  width: 1190px;
  margin: 0 auto;
}
.qybox-menu {
  display: flex;
  align-items: center;
}
.qybox-menu-item {
  font-size: 18px;
  height: 61px;
  float: left;
  margin: 0 50px;
  position: relative;
  cursor: pointer;
  margin-top: 24px;
}
.qybox-title {
  padding: 2px 5px;
}
.qybox-submenu__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qybox-submenu__title i {
  width: 20px;
  height: 5px;
  background: #ffffff;
}

.qybox-menu--horizontal {
  position: absolute;
  top: 50px;
  left: 0;
  background: #000000;
  padding: 30px;
  color: #fff;
  z-index: 3;
  box-shadow: 0 3px 24px rgba(64, 79, 245, .1);
  display: flex;
  border-radius: 6px;
  /* color: #404FF5; */
}
.qybox-menu--popup {
  display: flex;
}
.qybox-submenu-item {
  float: left;
  line-height: 20px;
  padding: 0 17px 0 20px;
  position: relative;
  font-size: 12px;
  border-left: 1px solid #fff;
  margin-right: 50px;
}
.qybox-menu-icon {
  font-size: 14px;
  font-weight: 500;
}
.qybox-el-menu--popup {
  padding: 0;
}
.qybox-el-menu--popup li {
  line-height: 25px;
  color: #FEFEFE;
}
.sub-title {
  font-size: 14px;
}
.sports-top_container {
  height: 61px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(26,25,25, .1);
}
.swiper {
  width: 1190px;
  height: 400px;
  margin: 20px 0 0;
}
.swiper-pagination-bullet-active {
  background: #000!important;
}
.tab-item {
  position: relative;
  width: 348px;
  height: 398px;
}
.hot-image:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.tab-item-selected {
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.carousel {
  height: 550px;
}
.sports-menu-container {
  font-size: 20px;
  display: flex;
  white-space: nowrap;
}
.sports-menu-item {
  margin: 0 45px;
  cursor: pointer;
  position: relative;
}
.subMenu-wrapper {
  position: absolute;
  z-index: 10;
  padding: 10px 20px;
  top: 60px;
  background: #fff;
  display: flex;
}
.subMenu-title {
  font-weight: 500;
}
.subMenu-content {
  font-size: 12px;
  margin: 10px 0;
}
.banner-container {
  width: 100%;
  position: relative;
}
.banner-container img {
  width: 100%;
}
.banner-masker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 6, 34, .46);
}
.banner-detail {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 2;
  color: #fff;
}
.banner-title {
  font-size: 60px;
  width: 70%
}
.banner-sub_title {
  font-size: 20px;
  width: 45%;
  margin: 3% 0 10%;
}
.banner-btn {
  background-color: #fff;
  padding: 8px 17px;
  font-size: 18px;
  display: inline-block;
  color: #333333;
  border-radius: 1px;
}
.hot-container {
  display: flex;
  margin: 40px 0 70px;
}
.hot-item {
  width: 30%;
  margin: 0 5% 0 0;
  border: 1px dashed #333333;
}
/* .hot-image {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 8px;
} */
.hot-image {
  width: 100%;
  height: 100%;
}
.hot-item:last-child {
  margin: 0;
}
.hot-title {
  width: 90px;
  height: 30px;
  line-height: 30px;
  background-color: #000000;
  color: #fff;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.tags-container {
  display: flex;
  margin: 65px 0 55px;
}
.tag-item {
  margin: 0 30px;
  cursor: pointer;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0E121D;
}
.tag-item i {
  width: 20px;
  height: 5px;
  background: #333333;
  margin-top: 3px;
}
.tag-item:first-child {
  margin-left: 0;
}
.popular-container {
  display: flex;
  margin-bottom: 50px;
}
.popular-image {
  position: relative;
  height: 434px;
}
.popular-info {
  position: relative;
  color: #0E121D;
  font-size: 16px;
  margin-left: 192px;
}
.popular-big_image {
  width: 555px;
  height: 434px;
}
.popular-small_image {
  width: 250px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 430px;
}
.popular-title {
  font-size: 35px;
  font-weight: 500;
  margin-top: 35px;
  color: #0E121D;
}
.popular-detail {
  margin: 20px 0;
}
.popular-panel {
  color: #666666;
  font-size: 16px;
  margin-top: 20px;
}
.popular-btn {
  padding: 5px 17px;
  display: inline-block;
  background-color: #000000;
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0 30px;
}
.product-item {
  width: 275px;
  margin: 0px 30px 50px 0px;
  cursor: pointer;
  background-color: #ffffff;
}
.product-item:nth-child(4n) {
  margin-right: 0;
}
.product-item img {
  width: 275px;
  height: 220px;
}
.product-item:nth-child(4n+1) {
  margin-left: 0;
} 
.product-title {
  height: 22px;
  font-size: 16px;
  overflow: hidden;
}
.product-title, .product-price {
  font-weight: 500;
}
.product-info {
  color: #666666;
  font-size: 14px;
  height: 20px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-price {
  font-size: 20px;
  height: 28px;
  overflow: hidden;
}
.product-img {
  text-align: center;
  margin-bottom: 40px;
}
.product-list-item .product-img {
  border: none;
}

.pages-container {
  padding: 20px 0 40px;
  color: #666666;
  text-align: center;
  font-size: 14px;
}
.more {
  padding: 10px 33px;
  background-color: #000000;
  color: rgba(255, 255, 255, .8);
  display: inline-block;
  border-radius: 2px;
  margin-top: 5px;
  cursor: pointer;
}
.bottom-container {
  background-color: #000000;
  font-size: 14px;
  color: #ffffff;
  position: relative;
}
.buttom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
  width: 1180px;
}
.buttom-wrapper_home {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0;
}
.button_list {
  display: flex;
  margin-left: 150px;
  align-items: flex-start;
  margin-top: 20px;
}
.contact_title {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
}
.contact_title span {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  display: inline-block;
}
.buttom-wrapper img {
  width: 117px;
  height: 117px;
  margin-bottom: 15px;
}
.contact-item {
  margin-right: 80px;
  line-height: 1.8;
}
.fixed_img {
  position: fixed;
  bottom: 8%;
  right: 0;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 15px;
  z-index: 10;
}
.fixed_img img {
  width: 130px;
  height: 130px;
}
.contact-info {
  line-height: 2;
}
.hot-article-container {
  display: flex;
}
.hot-article_image {
  width: 39%;
}
.hot-article_image img {
  width: 100%;
}
.article_info {
  margin-left: 30px;
  position: relative;
}
.article_title {
  font-size: 22px;
  color: #333333;
  font-weight: 500;
  margin: 10px 0;
}
.article_date {
  color: #666666;
  font-size: 16px;
  margin-bottom: 36px;
}
.article_detail {
  color: #333333;
  font-size: 18px;
  height: 78px;
  overflow: hidden;
  margin-bottom: 15px;
}
.article_btn {
  padding: 6px 18px;
  border: 1px solid #666666;
  display: inline-block;
  cursor: pointer;
  margin-top: 6px;
}
.category-tags {
  margin: 50px 0 40px;
  color: #333333;
}
.article-item {
  display: flex;
  margin-bottom: 30px;
}
.article-image {
  width: 376px;
  height: 240px;
}
.article-image img {
  width: 100%;
}
.recommend_title {
  color: #333333;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 500;
}
.search-container {
  width: 100%;
  border-radius: 40px;
  margin: 40px 0;
}
.product-detail_img {
  width: 550px;
  height: 440px;
  margin-right: 70px;
}
.product-detail_img_container {
  width: 550px;
  height: 440px;
}
.product-detail_img img {
  width: 100%;
}
.product-detail_container {
  display: flex;
  margin: 60px 0 0;
  padding-bottom: 60px;
  border-bottom: 1px solid #EEEEEE;
}
.product-detail_title {
  color: #0E121D;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
  height: 33px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-detail_size, .product-detail_hint, .product-detail_star_text {
  font-size: 12px;
  color: #666666;
}
.product-detail_star_text {
  margin-top: 5px;
}
.product-detail_price {
  font-size: 48px;
  font-weight: bold;
  color: #333333;
  margin: 8px 0;
  display: flex;
}
.product-detail_info {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin: 30px 0 10px;
  height: 86px;
  overflow: hidden;
}
.product-detail_btn {
 display: inline-block;
 padding: 10px 50px;
 color: #ffffff;
 background-color: #000000; 
 font-size: 14px;
 cursor: pointer;
 position: absolute;
 bottom: 0;
}
.product-detail_info_container {
  position: relative;
}
.contact-container {
  color: #333333;
  margin: 60px 50px;
  position: relative;
}
.contact-qrcode {
  position: absolute;
  right: 0;
  bottom: 0;
}
.contact-qrcode img {
  width: 117px;
  height: 117px;
}
.contact-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}
.contact-item .sub_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.brand_title {
  font-size: 22px;
  color: #393939;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.brand-container, .article-detail-container {
  font-size: 16px;
  color: #343434;
  padding: 50px 85px;
}
.brand-container {
  position: relative;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  z-index: 2;
  margin-top: -40%;
  margin-bottom: 50px;
  padding: 50px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.product-detail_star {
  height: 30px;
}
.el-rate__icon {
  font-size: 30px;
}
.article_author {
  margin-bottom: 20px;
  text-align: center;
}
.product-content {
  margin: 40px 0 50px;
}
.product-wrapper {
  width: 1190px;
  margin: 0 auto;
  background-color: #f4f4f4;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
  background-color: #ffffff;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #000000;
}
.search_input {
  border-radius: 50px;
  background-color: #F3F3F3;
}
.search_input input {
  background-color: #F3F3F3;
  width: 80%;
  height: 80px;
  border: none;
  font-size: 18px;
}
.search_input .el-input__inner {
  padding-left: 45px;
}
.search_input .el-input__prefix {
  left: 20px;
  top: 2px;
}
.swiper-pagination-bullet-active {
  width: 10px!important;
  height: 10px!important;
}
.cancel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 2;
  cursor: pointer;
  color: #AAAAAA;
}
.cancel_button:hover {
  font-weight: 500;
}
